    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <%= f.submit "Previous", class: "btn btn-default pull-left", id: "prev" %> <%= f.submit "Next", class: "btn btn-primary pull-right", id: "next" %>
        </div>
    </div>