<% title "Newshubby | Interview" %>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
		</div>
		<div class="col-sm-6 text-center hubertBasic">
			<h4>Congratulations!</h4>
			<br>
			
				<p></p>
				
			<br><br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, title: "Previous step", class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
						<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= link_to [@newsroom, @newsroom.company_launches.last], class: "btn btn-success pull-right", id: "nextButton" do %>Preview Press Release <span class="glyphicon glyphicon-arrow-right", disabled: "disabled"></span>
					<% end %>
				</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
