<div class="container">
	<div class="row">
		<div class="col-sm-3 hidden-xs text-center">
								<div class="intHelp" id="hubert"><h1 class="omnes">?</h1></div>

		</div>
		<div class="col-sm-6 text-center">
			<h4>Enter signup code</h4>
			<br>
			<%= render :layout => "form" do |f| %>
			
			<%= f.text_field :code, rows: 6, class: "form-control", max: "20" do %> <% end %>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<%= link_to previous_wizard_path, class: "btn btn-default pull-left" do %>
						<span class="glyphicon glyphicon-arrow-left"></span> 
					<% end %>
				</div>
				<div class="col-xs-4">
					<div class="center-block" id="textareaFeedback">
					</div>
				</div>
				<div class="col-xs-4">
					<%= button_tag type: "f.submit", class: "btn btn-success pull-right", id: "nextButton" do %><span class="glyphicon glyphicon-arrow-right"></span>
					<% end %>
					<% end %>
					</div>
			</div>
		</div>
		</div>
<br>
<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center intExample" id="intExample">
			<p class="text-muted"><span class="intPink omnes">Example: </span>Many startups don't have the time, effort and knowledge about how to create a good press release. We want to help them with that and minimize the distance between the startups and the press.
			</p>
		</div>
	</div> <!-- /.row -->
</div> <!-- / .container -->
