<% title "NewsHubby: Send your Press Release to the Press" %>

<div class="shortPage">
	
<div class="container">

	<div class="brick panel">
		<div class="panel-body">
			<h4 class="text-center">Send your press release to the media outlets</h4>
			<p>
				We're currently building our automatized distribution system. In the meantime, we handle distribution manually.
			</p>
			
			<p>
				 Click the button below to send us an email so we can get going. Remember to include a link to the press release you want distributed.
			</p>
				
			<%= mail_to "distribution@newshubby.com", "Yes, let NewsHubby distribute my Press Release", class: "btn btn-success  center-block" %>	
						
		</div>
	</div>

</div>
</div>