<% unless @newsroom.fundings.blank? %>
<hr>
<h4>Funding</h4>
<ul>
	<% @newsroom.fundings.each do |funding| %>
	<% unless funding.name.blank? %>
    <li><strong><%= funding.date %>: </strong><%= number_to_currency(funding.amount, precision: 0, locale: :en) %><br><%= funding.name %></li>
	<% end %>
	<% end %>
</ul>	
<% end %>	