<hr>
<h4>Probem Solved</h4>
<p><%= simple_format(@newsroom.problem_solved) %></p>
<hr>
<h4>Business Model</h4>
<p><%= simple_format(@newsroom.business_model) %></p>
<hr>
<h4>Competitors</h4>
<p><%= simple_format(@newsroom.competitors) %></p>