<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pressrelease_type.name %>
</p>

<%= link_to 'Edit', edit_pressrelease_type_path(@pressrelease_type) %> |
<%= link_to 'Back', pressrelease_types_path %>
