<div class="shortPage">
	
<%= nested_form_for(@newsroom, remote: true ) do |f| %>

<% if @newsroom.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@newsroom.errors.count, "error") %> prohibited this press_release from being saved:</h2>

    <ul>
    <% @newsroom.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="container navMargin">
	<%= render 'newsrooms/questions', f: f %>
</div> <!-- / .shortPage -->

<% end %>

</div>