<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if @basic_step %>
				<% else %>
				<%= link_to "Previous", previous_wizard_path, class: "btn btn-default pull-left" %> 
				<% end %>
				<% if @finish_button %>
				<%= f.submit "Finish", class: "btn btn-success pull-right", id: "next" %>
				<% else %>
				<%= f.submit "Next", class: "btn btn-primary pull-right", id: "next" %>
				<% end %>
    </div>
</div>