<div class="shortPage">
	<div class="floatingBkg" id="penAndPaper"></div>
	
<%= render :layout => "form" do |f| %>

<div class="container navMargin">

   <div>
       <div class="row">
           <div class="col-sm-6 col-sm-offset-3 hubertBasic">
               <div class="panel panel-body">
								 <h6 class="text-muted">Step 9 of 11</h6>
	                        <h4>What problem does <strong><%= @newsroom.company_name %></strong> solve?</h4>
	                      <%= f.text_area :problem_solved, class: "form-control fixed-textarea", rows: "4", id: "textarea", onfocus: "this.value = this.value;" %>
								<br>
                <p>
                    <span class="text-primary"><strong>Example: </strong></span>Many companies don't have the time, effort and knowledge about how to create a good press release. NewsHubby wants to help them with that and minimize the distance between the startups and the press.
                 </p>
	            </div> <!-- / .col-xs-12 -->
	        </div> <!-- / .row -->
	    </div> <!-- / .container-fluid -->
	</div> <!-- / .question -->
		
		<%= render "submit", f: f %>

</div> <!-- / .shortPage -->



<% end %>

</div>

