<div class="modal fade" id="swedenModal" tabindex="-1" role="dialog" aria-labelledby="swedenModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <small class="text-muted">For our Swedish customers:</small>
      </div>
                <div class="modal-body">
									<%= image_tag "images/flag_sweden.svg", width:"50", alt: "", class: "pull-right" %>
            
            <p><strong class="text-primary">NYHET!</strong> Vi lanserar nu även i Sverige med nya modeller:</p>
                <ol>
                    <li>Betala per resultat (Betala bara om ni lyckas nå ut)</li>
                    <li>Prenumerera på PR-utskick (Kontinuerlig matchmaking med journalister)</li>
                </ol>
            <a href="http://signup.newshubby.com/" class="btn btn-primary btn-block">Läs mer och förhandsboka här</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal —>