$brand-primary: #fd4f57 !default;

/*$font-size-base: 18px !default;
$body-bg: #b5b5b5 !default;
$navbar-border-radius: none !default;
$navbar-default-border: none !default;
$panel-border-radius: none !default;
$panel-default-border: none !default;
$border-radius-base: none !default;
$border-radius-large: none !default;
$thumbnail-bg: #eee !default;
$thumbnail-border: none !default; // #ddd !default;
*/