<% title "NewsHubby | Pricing" %>

<div class="shortPage">
            <div class="container">
                <div class="ppContainer">
                    <table>
                        <tr>
                            <th></th>
                            <th id="freemium">Basic</th>
                            <th id="premium">Premium<br><small>Monthly Subscription<br>Cancel Any Time</small></th>
                        </tr>
                        <tr>
                            <td>Press Release Creation Tool</td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td>Hosting</td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td>Distribution</td>
                            <td>$700 per press release</td>
                            <td><i class="fa fa-check fa-lg"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= link_to "Free", { controller: :plans, action: :free }, { class: "btn btn-default", id: "freeBtn" } %></td>
                            <td><%= link_to "$70 / month", { controller: :plans, action: :free }, { class: "btn btn-success", disabled: "disabled" } %></td>
                        </tr>
                    </table>
                </div>
<br><br>

</div>
<div class="push"></div>
</div>