<% title "NewsHubby | Pricing" %>

<div class="shortPage">
           <div class="container">
               <div class="row">
                   <h3 class="text-center">Pricing options</h3>
                   <div class="col-sm-6">
                       <div class="panel">
                           <div class="panel-body">
                               <h4>Monthly subcription</h4>
                               <p>$140 per month (6-month commitment)<br><br>
                                   <strong>What you get</strong>
                               <ul>
                                   <li>Access to <em>all</em> press release templates</li>
                                   <li>Distribute any number of press releases</li>
                               </ul></p>
                       </div> <!-- / .panel-body-->
                   </div> <!-- / .panel -->
               </div> <!-- / .col-sm-6 -->
               <div class="col-sm-6">
                   <div class="panel">
                       <div class="panel-body">
                           <h4>Pay as you go</h4>
                           <p>$700 per distributed press release<br><br>
                               <strong>What you get</strong>
                           <ul>
                               <li>Access to <em>all</em> press release templates</li>
                           </ul></p>
                   </div> <!-- / .panel-body-->
               </div> <!-- / .panel -->
           </div> <!-- / .col-sm-6 -->
       </div> <!-- / .row -->
       </div> <!-- / .container -->
   <div class="push"></div>
   </div>
</div>